@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Metrophobic&family=Permanent+Marker&family=Ubuntu:wght@300&family=Walter+Turncoat&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tamma 2', cursive;
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
    overflow-x: hidden;
}

.header {
    padding: 80px;
    text-align: center;
    background: url(./img/landscape-4387209_1280.jpg);
    color: white;
    opacity: 1;
    -webkit-box-shadow: inset -2px 3px 20px 16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset -2px 3px 20px 16px rgba(0, 0, 0, 0.75);
    box-shadow: inset -2px 3px 20px 16px rgba(0, 0, 0, 0.75);
    height: 400px;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.header h1 {
    text-shadow: 2px 2px 3px black, 0 0 25px rgb(250, 250, 255), 0 0 10px rgb(2, 2, 39);
    font-family: 'Megrim', cursive;
    font-size: 550%;
    vertical-align: middle;
}

.logo {
    width: 40%;
    height: auto;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}

.name_header {
    margin: 0 auto;
}

.navbar {
    display: inline-block;
    width: 100%;
    height: 8vh;
    float: right;
    font-family: 'Caveat', cursive;
    right: 2%;
    background: transparent;
}

.navbar a {
    float: right;
    padding: 2%;
    text-decoration: none;
    font-size: 2em;
    color: rgb(0, 0, 0);
    background: white;
    border-radius: 50px;
    margin: 3px;
    height: 0.4vh;
    line-height: 0.4vh;
    transition: 1s;
}

.navbar a.active {
    background: rgb(148, 15, 48);
    color: white;
    opacity: 0.8;
}

.navbar a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    transition: 0.5s;
}

.navbar #logo {
    display: inline;
    background: transparent;
    float: left;
    height: auto;
    margin-left: 2%;
    top: 1%;
    padding: 0;
}

.container-fluid {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

figure {
    width: 120%;
    margin: 2%;
    height: auto;
    border: 1px solid #777;
    padding: 8px;
    box-sizing: border-box;
    box-shadow: 2px 2px black;
    background-color: whitesmoke;
}

figure:hover {
    transform: scale(1.08);
    transition: 0.5s;
    opacity: 1;
}

.nohover:hover {
    transform: scale(1);
}

figure img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

figure figcaption {
    text-align: center;
    padding: 4px 4px;
    font-family: 'Caveat', 'Baloo Tamma 2', cursive;
    font-size: 200%;
}


/* index */

.row {
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.name_header a {
    text-decoration: none;
    font-family: cursive;
    color: whitesmoke;
    padding: 0.5em;
}


/* Create two equal columns that sits next to each other */

.card_image img {
    border: 2px solid black;
    -webkit-box-shadow: 4px 3px 16px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 16px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 3px 16px -2px rgba(0, 0, 0, 0.75);
}


/* Sidebar/left column */

.side {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}


/* Main column */

.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background: rgba(255, 255, 255, 0.158);
    padding: 20px;
}


/* Fake image, just for this example */

.fakeimg {
    background: inherit;
    width: 100%;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
}

#btn {
    margin-top: 6%;
}

.side h2 {
    font-family: 'Times New Roman', Times, serif;
}

.fake {
    width: 100%;
    height: 100%;
    border: 5px solid black;
    border-radius: 5px;
}

.fake:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.btn {
    background: rgb(222, 94, 94);
    background: linear-gradient(90deg, rgba(222, 94, 94, 1) 0%, rgba(7, 7, 150, 1) 0%, rgba(79, 81, 175, 1) 100%, rgba(6, 24, 159, 1) 100%, rgba(0, 212, 255, 1) 100%);
    /* box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


/* SHARE BUTTONS */

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}


/* banner */

.banner {
    background-image: url('./img/landscape-4387209_1280.jpg') no-repeat center;
    background-size: 100%;
    height: 50vh;
    width: 100%;
}

.btn {
    display: block;
    border-radius: 5px;
    margin: 5%;
}

.row_name ul a {
    text-decoration: none;
    list-style: none;
    color: #000000;
}

.row_name ul a:hover {
    text-decoration: none;
    font-size: 1.3em;
}

.row_name ul li:hover a .fa-facebook {
    background-color: #3b5998;
    transition: 0.7s;
}

.row_name ul li:hover a .fa-instagram {
    background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
}


/* about */

.about1 {
    display: block;
}

footer {
    display: flex;
    flex-direction: row;
    background: black;
    width: 100%;
    height: auto;
}

footer a {
    text-decoration: none;
    color: white;
}

.left-footer {
    border-right: 1px solid cyan;
    width: 30%;
    color: white;
    flex: 1;
}

.left-footer ul {
    list-style: none;
}

.left-footer h2 {
    margin-left: 2%;
}

.left-footer li a:hover {
    color: blue;
    transition: 0.7s;
}

.left-footer ul li {
    margin-left: 4%;
}

.right-footer {
    width: 70%;
    display: inline-block;
    align-items: center;
    flex: 2;
    color: white;
    text-align: center;
}

.right-footer p,
.left-footer p,
.right-footer ul,
.left-footer ul {
    margin-bottom: 4%;
}

.right-footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.right-footer li {
    padding-right: 2%;
    vertical-align: middle;
}

.right-footer i {
    color: white;
    font-size: 300%;
    padding: 5%;
}

.right-footer ul li:hover a .fa-twitter {
    color: rgb(4, 128, 243);
    transition: 0.7s;
}

.right-footer ul li:hover a .fa-facebook {
    color: #3b5998;
    transition: 0.7s;
}

.right-footer ul li:hover a .fa-instagram {
    background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
}

.right-footer ul li:hover a .fa-facebook {
    background: -webkit-linear-gradient(45deg, #405de6, #5851db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.7s;
}

.right-footer ul li:hover a .fa-reddit-alien {
    color: #FF5700;
    transition: 0.5s;
}

@media screen and (max-width:480px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
    }
    .left-footer,
    .right-footer {
        width: 100%;
        height: auto;
    }
    .right-footer {
        background-color: whitesmoke;
        color: black;
    }
    .right-footer i,
    .right-footer h3 {
        color: black;
    }
    .left-footer {
        text-align: center;
        line-height: 4vh;
        width: 100%;
    }
    .left,
    .right {
        width: 100%;
        height: auto;
        border: 2px solid black;
    }
}

.fa-heart {
    color: black;
}


/* SAHRE */

.share_side {
    margin-left: 2%;
}

#share-buttons img {
    width: 100px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

#share-buttons img:hover {
    transform: scale(1.08);
    transition: 0.3s linear;
}

.btns {
    margin: 0 auto;
    width: 120%;
    border: 3px solid;
    text-align: center;
    height: 130%;
    padding: 0.55em;
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btns:hover {
    background-color: rgb(0, 136, 226);
    color: white;
    border: 3px solid black;
    transition: 0.35s ease-in-out;
    padding-left: 0.85em;
}

.btns_arr {
    margin: 0 auto;
    width: 120%;
    border: 3px solid white;
    text-align: center;
    height: 130%;
    padding: 0.55em;
    background-color: transparent;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btns_arr:hover {
    background-color: turquoise;
    color: black;
    border: 3px solid black;
    background-color: white;
    transition: 0.35s ease-in-out;
    padding-left: 0.85em;
}

.swiper-container {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    background: linear-gradient( #000000, #434343);
}

.swiper-slide {
    background-position: center;
    /* align-items: center;
display: flex; */
    width: 300px;
    height: 380px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -2px 2px 20px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 20px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 20px -2px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.swiper-slide .imgBx {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.swiper-slide .imgBx img {
    width: 100%;
}

.swiper-slide .details {
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px;
    transform: rotate(90);
    color: black;
    font-style: normal;
    line-height: 20px;
}

.swiper-slide .details h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.swiper-slide .details span {
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-transform: capitalize;
}

.swiper-slide .details a {
    text-decoration: none;
    border: 2px solid black;
    padding: 0.7em;
    font-size: 0.7em;
    /* border-radius: 5px; */
    align-items: center;
    font-family: 'Roboto', serif;
    margin-left: 25%;
}

.swiper-slide .details a:hover {
    padding: 0.75em;
    font-size: 0.75em;
    background-color: black;
    border: 3px solid white;
    transition: 0.5s ease-in-out;
    color: white;
}

@media screen and (max-width:970px) {
    .navbar #logo {
        display: inline-block;
        background: transparent;
        /* float: ; */
        height: auto;
        margin: 0;
        top: 0;
        padding: 0;
    }
    .logo {
        top: 0;
        transform: scale(0.7);
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 480px) {
    /* start of phone styles */
    .navbar {
        width: 100%;
        display: block;
    }
    .header {
        background-image: url(./img/landscape-4387209_1280.jpg);
    }
    .header h1 {
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        font-family: 'Megrim', cursive;
        font-size: 300%;
    }
    .slideshow {
        display: none;
    }
    #btn {
        margin-top: 76%;
    }
    footer #social-media-footer a .fa-facebook {
        color: black;
    }
}

@media screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }
    .row {
        flex-direction: column;
    }
    .header h1 {
        text-shadow: 2px 2px 3px black, 0 0 25px rgb(0, 0, 5), 0 0 10px rgb(2, 2, 39);
        font-size: 300%;
    }
    .header h1:hover {
        font-size: 300%;
    }
    .navbar a {
        float: right;
        padding: 2%;
        text-decoration: none;
        font-size: 1.5em;
        color: rgb(0, 0, 0);
        background: white;
        border-radius: 50px;
        margin: 3px;
        height: 3vh;
        line-height: 0.4vh;
        padding: 0.23em;
    }
}

.share_side img {
    width: 25%;
    height: auto;
}

.btns {
    width: 120px;
    height: auto;
    padding: 0.5em;
    margin-left: 5px;
    margin-right: 10px;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    border: 1px solid black;
    border-radius: 20px;
    color: white;
}

.btns:hover {
    color: white;
    border: 2px solid black;
    transition: 0.25s ease-in-out;
    padding-left: 0.85em;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.btns_arr {
    margin: 0 auto;
    width: 90%;
    height: auto;
    border: 3px solid white;
    text-align: center;
    height: 130%;
    padding: 0.55em;
    background-color: transparent;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btns_arr:hover {
    background-color: turquoise;
    color: black;
    border: 3px solid black;
    background-color: white;
    transition: 0.35s ease-in-out;
    padding-left: 0.85em;
}